{% extends 'PesFrontBundle::layout.html.twig' %}

{% block section %}
    <div class="panel panel-default">
        <div class="panel-heading">Liste des messages</div>
        <table class="table table-bordered">
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Sujet</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            {% for courrier in courriers %}
                <tr>
                    <td>{{ courrier.nom }}</td>
                    <td>{{ courrier.email }}</td>
                    <td>{{ courrier.sujet }}</td>
                    <td>{% if courrier.date %}{{ courrier.date|date('Y/m/d H:i:s') }}{% endif %}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-info" href="{{ path('pes_courrier_show', { 'id': courrier.id }) }}">
                                <span class="glyphicon glyphicon-check"></span> Consulter
                            </a>

                            <a class="btn btn-danger" href="{{ path('pes_courrier_edit', { 'id': courrier.id }) }}">
                                <span class="glyphicon glyphicon-trash"></span> Supprimer
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
