{% extends 'PesFrontBundle::layout.html.twig' %}

{% block section %}
    <div class="panel panel-default">
        <div class="panel-heading">Courrier</div>
        <div class="panel-body">
            <p><span class="text-muted">Nom : </span>{{ entity.nom }}</p>
            <p><span class="text-muted">Email : </span>{{ entity.email }}</p>
            <p><span class="text-muted">Sujet : </span>{{ entity.sujet }}</p>
            <p class="text-muted">Message : </p>
            <p>{{ entity.corps }}</p>
            <p>Le {{ entity.date|date('Y-m-d H:i:s') }}</p>

            <ul class="record_actions">
                <li>
                    <a href="{{ path('pes_courrier_list') }}">
                        Back to the list
                    </a>
                </li>
                <li>
                    <a href="{{ path('pes_courrier_edit', { 'id': entity.id }) }}">
                        Edit
                    </a>
                </li>
                <li>{{ form(delete_form) }}</li>
            </ul>
        </div>
    </div>
{% endblock %}
